<div class="page-header">
    <!-- toolbar -->
    <div ng-include="'/assets/app/scripts/editToolbar.htm'"></div>

    <div ng-if="id != null" class="pull-right" style="margin-right: 40px">
        <a ng-click="run()" href="" class="btn btn-success"><span class="glyphicon glyphicon-play"></span> <span translate="Run"></span></a>
    </div>

    <h1 translate="Script"></h1>
</div>


<form id="script_form" role="form" class="form-horizontal" ng-submit="save()">

    <!-- edit form -->
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate="Name"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" ng-model="script.name" placeholder="Enter script name">
        </div>
    </div>
    <div class="form-group">
        <label for="cronExpression" class="col-sm-2 control-label" translate="Cron Expression"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cronExpression" ng-model="script.cronExpression" placeholder="Cron Expression">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="script.active"><span translate="Activate me"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea ui-codemirror="cmOptions" id="code" ng-model="script.code"></textarea>
    </div>

    <!-- toolbar -->
    <div ng-include="'/assets/app/scripts/editToolbar.htm'"></div>
    <div class="clearfix"></div>
</form>