<h1>Script</h1>


<form role="form" ng-submit="save()">
    <!-- toolbar -->
    <div ng-include="scripts/editToolbar.htm"></div>

    <!-- edit form -->
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" ng-model="script.name" placeholder="Enter script name">
    </div>
    <div class="form-group">
        <label for="cronExpression">Cron Expression</label>
        <input type="text" class="form-control" id="cronExpression" ng-model="script.cronExpression" placeholder="Cron Expression">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Active
        </label>
    </div>
    <div class="form-group">
        <label for="code">Script Code</label>
        <textarea ui-codemirror="cmOptions" id="code" ng-model="script.code"></textarea>
    </div>

    <!-- toolbar -->
    <div ng-include="scripts/editToolbar.htm"></div>
</form>