<div class="page-header">
    <div class="pull-right">
        <a href="script" class="btn btn-primary">New Script</a>
    </div>

    <h1>Scripts</h1>
</div>




<table class="table table-hover editable-cells">
    <thead>
        <tr>
            <th>Name</th>
            <th>Cron Expression</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="script in scripts">
            <td>
                <span ng-bind="script.name"></span>
            </td>
            <td>
                <span ng-bind="script.cronExpression"></span>
            </td>
            <td>
                <input type="checkbox" ng-model="script.active" ng-change="save(script)" ng-disabled="!script.cronExpression">
            </td>
            <td>
                <a ng-href="script/{{script.id}}" class="glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
    </tbody>
</table>