<div class="page-header">
    <h1 translate="Devices"></h1>
</div>

<table class="table table-hover editable-cells">
    <colgroup>
        <col style="width: 1px">
        <col class="col-xs-4">
        <col class="col-xs-4">
    </colgroup>
    <thead>
        <tr>
            <th><a href="" class="glyphicon glyphicon-refresh" ng-click="sync()"></a></th>
            <th translate="Location"></th>
            <th translate="Code Name"></th>
            <th translate="Address"></th>
            <th translate="Name"></th>
            <th translate="Readings"></th>
            <th translate="Tracking"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="device in devices | byLocation:locationFilter">
            <td>
                <span class="glyphicon glyphicon-ok-sign" ng-class="{green: device.enabled, hide: !device.enabled}" tooltip="Active"></span>
            </td>
            <td>
                <a href="#" editable-select="device.location" onbeforesave="update(device, 'location', $data)" e-ng-options="l.name for l in emptyOption.concat(locations) track by l.id">
                    {{ showLocation(device) }}
                </a>
            </td>
            <td>
                <span editable-text="device.title" onbeforesave="update(device, 'title', $data)">{{device.title}}</span>
            </td>
            <td ng-bind="device.addr"></td>
            <td>
                <span ng-bind="device.name" popover="{{device.desc}}" popover-trigger="mouseenter" popover-placement="left"></span>
            </td>
            <td>
                <a href="" ng-if="device.readable" ng-init="readings = {formatted: 'read'}" ng-click="read(device, readings)" ng-bind="readings.formatted"></a>
            </td>
            <td>
                <div ng-if="device.readable">
                    <input type="checkbox" ng-model="device.tracked" ng-change="save(device)">
                    &nbsp;
                    <span class="item-wrapper frequency">
                        <a editable-text="device.frequencyOfMeasurements" onbeforesave="update(device, 'frequencyOfMeasurements', $data, isIntOrEmpty)" href="" class="glyphicon glyphicon-time"></a>
                    </span>
                </div>
            </td>
            <td>
                <a href="device/{{device.id}}" class="glyphicon glyphicon-pencil"></a>
            </td>
        </tr>
    </tbody>
</table>