<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>

        <div ng-include="'/assets/app/devices/devices.htm'"></div>

    </div><!--/span-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

        <h3 translate="Location"></h3>

        <div id="locations" class="list-group">
            <a href="" class="list-group-item" ng-repeat="l in locations" ng-model="locationFilter[l.id]" btn-checkbox>
                <span class="glyphicon glyphicon-pencil pull-right" ng-click="edit.$show()" ng-hide="edit.$visible" stop-event></span>
                <span ng-bind="l.name"  onbeforesave="updateLocation(l, $data)" editable-text="l.name" e-form="edit" buttons="no"></span>
            </a>
        </div>
        <form class="form-inline" ng-submit="addLocation()">
            <table style="width: 100%">
                <tr>
                    <td>
                        <input ng-model="newLocation" type="text" class="form-control" style="width: 100%" placeholder="New Location" ng-required="true">
                    </td>
                    <td style="width: 20%; padding-left: 5px">
                        <button class="btn" style="display: block" translate="Add"></button>
                    </td>
                </tr>
            </table>
        </form>
    </div><!--/span-->
</div><!--/row-->
