/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_tree css
*= require_self
*/

a.list-group-item {
    cursor: pointer;
}
.table>tbody>tr>td {
    height: 45px;
    vertical-align: middle;
}

.green {
    color: green;
}